<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.derekknaggs.toastdemo"
        version   = "1.0.0">

    <name>Toast Demo</name>

    <description>
        A dialog, notification and toast message demonstration application.
    </description>

    <author href="derekknaggs.com" email="knad1_14@uni.worc.ac.uk">
        Worcester University Bsc Computing
    </author>

    <preference name="permissions"                value="none"/>  

    <plugin name="cordova-plugin-x-toast" spec="2.4.0" />
    <plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />

</widget>
